.vehicle {
	text-align: center;
	padding: 20px;
}

.Card {
	padding: 20px;
}

.Card:hover {
	cursor: pointer;
	background-color: #fff8e5;
}

.Logo {
	height: 100px;
	width: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
